#storyDetailContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#storyContainer {
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#titleContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#commentsContainer {
    margin-bottom: 10em;
}

#commentsDivider span {
    font-size: 0.75em;
    color: gray;
    font-weight: bold;
}

#commentsSection {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
}