header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin-bottom: -0.5em;
    background-color: #333333;
}

header svg {
    margin-left: 1em;
}

header p {
    margin-left: 0.5em;
    color: white;
}

#titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 480px) {
    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
}