.story {
    margin: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #FAFAFA;
    width: 100%;
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.horizontalDivider {
    width:  100%;
}

.storyImage, .noStoryImage {
    height: 75px;
    width: 75px;
}

.noStoryImage {
    border: 1px solid gray;
    text-align: center;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.storyInformationContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.storyInformationContainer p, .storyInformationContainer a {
    margin: 0.25em;
    font-size: 0.75em;
    color: gray;
}

.storyHeaderContainer {
    display: flex;
    flex-direction: column;
}

.paragraphDivider {
    color: gray;
    opacity: 50%;
}

.points {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.storyHeadline {
    display: flex;
    flex-direction: row;
}

.storyTitle {
    text-align: left;
    font-size: 1.1rem;
    margin-right: 1em;
    margin-left: 0.5em;
}

.storyUrl {
    font-size: 0.6em;
    color: gray;
    width: 12em;
}

.storyDetailLink {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #333333;
    text-decoration: none;
    max-width: 100%;
    text-align: left;
    margin-left: 0.5em;
    min-height: 70px;
    max-height: 70px;
}

.thumbnailContainer {
    min-width: 75px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.storyIndex {
    margin-left: 0.1em;
    margin-right: 0.25em;
    margin-top: 0;
    font-size: 0.75em;
    color: gray;
}

.storyTitleContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.storyAuthorContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0.5em;
}

.commentContainer {
    margin-bottom: 0.25em;
}

@media screen and (max-width: 480px) {
    .story {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: white;
        width: 100%;
    }

    .thumbnailContainer {
        height: 100px;
        width: 100px;
    }

    .storyDetailLink {
        min-height: 5em;
        max-height: 5em;
    }

    .storyUrl {
        display: none;
    }

    .storyInformationContainer {
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: center;
    }

    .commentContainer {
        display: none;
    }

    .storyAuthorContainer {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .storyLinkContainer {
        margin-top: 0.75em;
    }
}